{% extends 'base.html' %}
{% block title %}All Posts // {{ super() }}{% endblock title %}
{% block pagetitle %}All Posts{% endblock pagetitle %}
{% block content %}
<section class="type-system-geometric archives">
<h1>All Posts</h1>
{% for article in dates %}
<article>
<div class="stub">
    <div class="stub-image">
        <img src="{{ article.author_gravatar }}" alt="{{ article.author }}">
    </div>
    <div class="stub-content">
        <h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
        <p>{{ article.summary }}</p>
        <p class="stub-detail">{{ article.date|strftime('%Y%m%d') }}</p>
    </div>
</div>
</article>
{% endfor %}
</section>
{% endblock %}
