{% extends 'index.html' %}
{% block title %}{{ article.title|striptags|title }} // {{ super() }}{% endblock title%}
{% block head_css %}
	<!-- if need css, put here -->
{% endblock %}
{% block head_js %}
	<!-- if need js, put here -->
{% endblock %}
{% block content %}
{% include 'header.html' %}
<div class='article-wrapper'>
	<article class="type-system-geometric">
	{% include 'article_content.html' %}
	<hr>
	{% include 'share.html' %}
	{% if DISQUS_SITENAME %}
		{% include 'disqus.html' %}
	{% endif %}
	</article>
</div>
{% include 'footer.html' %}
{% endblock %}
