{% block content %}
	<h1><a href="{{ SITEURL }}/{{article.slug}}.html"><img class="top-icon" src="{{ SITEURL }}/theme/images/poly00.png" alt="icosahedron">{{ article.title|title }}</a></h1>
	{% if article.subtitle %}
		<h2>{{ article.subtitle|title }}</h2>
	{% endif %}
	<p class="date">{{ article.locale_date }}</p>
	{{ article.content }}
	{% if article.notebook %}{% include 'notebook_footer.html' %}{% endif %}
	{% if article.author_gplus %}{% set GPLUS_ID = article.author_gplus %}{% else %}{% set GPLUS_ID = AUTHOR_GPLUS %}{% endif %}
	<p class="author"><a href="https://plus.google.com/{{ GPLUS_ID }}?rel=author">{% if article.author %}{{ article.author }}{% else %}{{ AUTHOR }}{% endif %}</a></p>
	{% if article.audio %}
	{% include 'audio.html' %}
	{% endif %}
	{# disabled representative images appended to blog posts
	{% if article.image %}
		{% for image in article.image.split(',') %}
			<img class="{% if article.image.split(',')|length == 1 %}img-single{% elif article.image.split(',')|length is even() %}img-even{% else %}img-odd{% endif %}" src="{{ SITEURL }}/images/{{ image }}" alt="{{ image }}">
		{% endfor %}
	{% endif %}
	#}
	{% if ETSY_API_KEY or ENVY_API_KEY %}
	    {% include 'item.html' %}
	{% endif %}
	<p>[<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>]
	{% for tag in article.tags %}
		<a class="" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}|{% endif %}
	{% endfor %}
{% endblock %}
