{% block content %}
	<h1><a href="{{ SITEURL }}/{{article.slug}}.html"><img class="top-icon" src="{{ SITEURL }}/theme/images/poly00.png" alt="icosahedron">{{ article.title|title }}</a></h1>
	{% if article.subtitle %}
		<h2>{{ article.subtitle|title }}</h2>
	{% endif %}
	<p class="date">{{ article.locale_date }}</p>
	<p class="author">{% if article.author %}{{ article.author }}{% else %}{{ AUTHOR }}{% endif %}</p>
	<!-- <p class=""><a href="{{ SITEURL }}/{{ article.author.url }}" title="See posts by {{ article.author }}"><img class="article-avatar" alt="{{ article.author }}" src="{{ article.author_gravatar }}"></a></p> -->
	{% for tag in article.tags %}
		<a class="" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
	{% endfor %}
	<p>{{ article.content }}</p>
	{% if article.image %}
		{% for image in article.image.split(',') %}
			<img class="{% if article.image.split(',')|length == 1 %}img-single{% elif article.image.split(',')|length is even() %}img-even{% else %}img-odd{% endif %}" src="{{ SITEURL }}/images/{{ image }}" alt="{{ image }}">
		{% endfor %}
	{% endif %}
{% endblock %}
