{% if article.shop == 'etsy' %}
<div class="grid-items-lines">
  {% for item in article.item_id %}
    {% set i = loop.index0 %}
    <a href="{{ article.item_url[i] }}" class="grid-item grid-item-three">
      <img class="thumb" src="{{ article.item_img1[i] }}" alt="{{ article.item_title[i] }}">
      <img class="full" src="{{ article.item_img2[i] }}" alt="{{ article.item_title[i] }}">
      <h1>{{ article.item_title[i] }}</h1>
      <p>{{ article.item_desc[i] }}</p>
    </a>
  {% endfor %}
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
{% elif article.shoptype == 'envy' %}
<p>Store Envy not supported yet!</p>
{% endif %}
