{% if page.shoptype == 'etsy' %}
<div class="grid-items-lines">
  {% for item in page.item_id %}
  	{% set i = loop.index0 %}
    <a href="{{ page.item_url[i] }}" class="grid-item{% if i % 5 == 0 %} grid-item-two{% endif %}">
      <img class="thumb" src="{{ page.item_img1[i] }}" alt="{{ page.item_title[i] }}">
      <img class="full" src="{{ page.item_img2[i] }}" alt="{{ page.item_title[i] }}">
      <h1>{{ page.item_title[i] }}</h1>
      <p>{{ page.item_desc[i] }}</p>
    </a>
  {% endfor %}
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
{% if USE_BUTTON %}
<nav class="actions"><a href="{{ page.store_url }}" title="{{ page.etsy_shopname }}">Visit our Shop!</a></nav>
{% endif %}
{% elif page.shoptype == 'envy' %}
<p>Store Envy not supported yet!</p>
{% endif %}
